.body{
    background-image: url(https://images.pexels.com/photos/29013116/pexels-photo-29013116.jpeg?auto=compress&cs=tinysrgb&fit=crop&fp-y=0.4000000059604645&h=500&w=1400&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;

}