.bottom{
    background-color: black;

}


.name {
    background-color:transparent;
    margin: 70px;
    box-shadow: 0 0 15px 10px #96AE8D;
    height: 400px;
    width: 400px;
    text-align: center;
    border-radius: 20px;
    transition: box-shadow 400ms, height 400ms, width 400ms;
    color: white;
        
}
.name:hover {
    box-shadow: 0 0 25px 50px rgb(0, 0,0, 0.2);
    height: 450px;
    width: 450px;
    border: 1px solid black ;
}

.names {
    height: 100vh;
    width:100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    animation: fallAndBounce 2s ease-in-out forwards;
}
.pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: black;
    margin: auto;
    margin-top: 10px;
    transition: transform 1s ease;
}
.pic:hover {
    transform: scale(1.15);
    box-shadow: 0 0 25px 20px rgb(0, 0,0, 0.5);
}
body {
    background-image: url(Images/frnd\ backdrop.jpg);
    background-size: cover;
}
@keyframes fallAndBounce {
    0% {
      top: -700px; 
      transform: scale(1, 1);
    }
    50% {
      top: 90vh; 
      transform: scale(1.2, 0.8); 
    }
    75% {
      top: 10vh; 
      transform: scale(0.9, 1.1);
    }
    100% {
      top: 10vh; 
      transform: scale(1, 1);
    }
  }
.icons {
    height: 50px;
    width: 250px;
    background-color: white;
    display: inline-block;
    border-radius: 5px;
}
.icons a {
    text-decoration: none;  
}
.insta {
    display: inline-block;
    margin: 5px;
    height: 40px;
    width: 40px;
    background-image: url(Images/instagram.png);
    background-size: cover;
}
.linkedin {
    display: inline-block;
    margin: 5px;
    height: 40px;
    width: 40px;
    background-image: url(Images/linkedin.png);
    background-size: cover;
}
.github {
    display: inline-block;
    margin: 5px;
    height: 40px;
    width: 40px;
    background-image: url(Images/github.png);
    background-size: cover;
}

  