.Nav_Bar{
    display: flex;
    margin-top: 14px;
    align-items: flex-start;
    justify-content: flex-end;  
    margin:0px;
    padding: 20px;
    background-color: rgba(175, 12, 181, 0.113); 
    color: #ebd212f2;
    
}
.inav {
    margin-left: 50px;
    margin-right: 20px;
}
.nav_text {
    font-size: 20px;
    text-align: center;
    
}
.nav_but{
    padding: 0px 20px;
    background-color: rgba(15, 240, 222, 0.38);
    border-radius: 20px;
    border: 0px solid black;
}
.nav_but:hover {
    background-color: rgb(57, 57, 57);
    cursor: pointer;
}
.nav_links {
    text-decoration: none;
    color: rgb(233, 222, 222);
}
.nav_img {
    height: 60px;
    width: auto;
    padding: 0;
    margin-right: auto;
    border-radius: 30px;
    
            }
body {
    padding: 0;
    margin: 0;
}