nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px;
}
.logo {
    height: 40px;
    width: 40px;
}
.link {
    margin-left: 40px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(249, 249, 249);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.navlinks a {
    position: relative;
    font-weight: 501;
}
.navlinks a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: rgb(246, 214, 165);
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}
.navlinks a:hover::after {
    width: 100%;
}
.navlinks {
    margin-right: 60px;
}